
.main-box {
    background: rgba(43, 40, 40, 0.7);
    z-index: 2;
    padding: 20px;
    color:white;
    overflow:auto;
}

.main-box1 {
    height: 250px;
    background: rgba(43, 40, 40, 0.7);
    z-index: 2;
    position: absolute;
    margin-top: 10px;
    font-size: 5px !important;
    display: none;
}

.main-box-form {
    margin: auto;
}

.main-box-form-top {
}

.main-box-form-left {
    border-right: 1px solid #f97a90;
}

.main-box-form-right {
}

.main-box-form-thank {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


.main-box-radio {
    margin-top: 20px;
}

.main-box-atm {
    display: none;
}

.main-box-atm-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.main-box-form-left-button {
    padding: 0 40px;
    height: 40px;
    color: white;
    background: #f97a90;
    border-radius: 40px 0px 40px 0px;
    border: 3px solid white;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    margin-right: 10px;
}

    .main-box-form-left-button:hover {
        background-color: pink;
        cursor: pointer;
    }

.cancel-button {
    display: block;
    padding: 0 20px;
    height: 40px;
    color: white;
    background: #97777d;
    border-radius: 40px 0px 40px 0px;
    border: 3px solid white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 36px;
    float: right;
}

    .cancel-button:hover {
        background-color: rgb(46, 38, 40);
        cursor: pointer;
        text-decoration: none;
        color: white !important;
    }
#comment
{
    min-height:40px;
    max-height:200px
}
.main-box-input {
    background: rgba(40, 40, 40,0.2);
    border: none;
    color: white;
    border-bottom: 1px solid #f97a90;
    margin-bottom: 20px;
}

    .main-box-input:focus {
        background: rgba(99, 76, 76, 0.2);
        border: none;
        color: white;
        border-bottom: 1px solid #f97a90;
        margin-bottom: 20px;
    }



[id^='erro'] {
    color: #f97a90;
}
