.main-content{
    width: 100%;
    min-height:650px;
    background: gold;
    z-index: 1;
}
.main-box{
  width: 600px;
  height: 550px;
  background:rgba(43, 40, 40, 0.7);
  z-index: 2;
  position:absolute;
  margin-top: 100px;
  margin-left: 10%;
  left:16%;
}
.main-box1{
  width: 200px;
  height: 250px;
  background:rgba(43, 40, 40, 0.7);
  z-index: 2;
  position:absolute;
  margin-top: 10px;
  margin-left: 5%;
  font-size: 5px !important;
  display: none;
}
.main-box-form{
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 3%;
}
.main-box-form-top{
  width: 100%;
  height: 10%;
}
.main-box-form-left{
  width: 65%;
  height: 90%;
  float: left;
  border-right: 1px solid #f97a90;
}
.main-box-form-right{
  width: 30%;
  height: 90%;
  float: right;
}
.main-box-form-thank{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.main-box-span{
  width: 50px;
  color: white;
}
.main-box-radio{
 margin-top: 20px;
}
.main-box-atm{
  width: 100%;
  height: 60%;
  display: none;
  margin-top: 5%;
}
.main-box-atm-text{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.main-box-form-left-button{
  width: 60%;
  height: 40px;
  color: white;
  background: #f97a90;
  border-radius: 40px 0px 40px 0px;
  border: 3px solid white;
  font-family: Arial, Helvetica, sans-serif;
  
}
.main-box-form-left-button:hover
{
  background-color:pink;
  cursor:pointer;
}
.main-box-input
{
   background:rgba(40, 40, 40,0.2);
   width: 96%;
   border: none;
   color: white;
   border-bottom: 1px solid #f97a90;
   margin-bottom: 20px;
}
@media all and (max-width: 1024px){
  .main-content{
    min-height:100px;
}
.main-box{
  width: 400px;
  height: 400px;
  margin-top: 50px;
  margin-left: 5%;
}
.main-box-input
{
   margin-bottom: 10px;
}
}
@media all and  (max-width:414px){
  .main-box-atm-text{
    font-size: 5px;
  }
  .main-box-radio{
 margin-top: 5px;
}
.main-box-form-left-button{
  width: 60%;
  height: 15px;
  color: white;
  background: #f97a90;
  border-radius: 10px 0px 10px 0px;
  border: 1px solid white;
  font-family: Arial, Helvetica, sans-serif;
}
.main-box{
  width: 200px;
  height: 170px;
  margin-top: 20px;
  margin-left: 5%;
  font-size: 5px !important;
}
 nav.navigation.navbar.navbar-expand-lg.navbar-dark.fixed-top{
  display: none;
 }
 .main-box-form-thank{
   font-size: 5px;
 }
div.background-header.fixed-top{
  display: none;
 }
#erroCard{
  font-size: 5px;
}
#erroNumber{
  font-size: 5px;
}
 .main-box-form-top{
  width: 100%;
  height: 5%;
}
}






#erroName{
  color: #f97a90;
}
#erroTelephone{
  color: #f97a90;
}
#erroEmail{
  color: #f97a90;
}
#erroAddress{
  color: #f97a90;
}
#erroCode{
  color: #f97a90;
}
#erroCard{
  color: #f97a90;
}
.erroCard{
  font-size: 13px;
}
#erroNumber{
  color: #f97a90;
}
.erroNumber{
  font-size: 13px;
}
