.btn-primary{
    background: pink;
    border: pink;
}
.list-text{
    width: 1200px;
    height: 150px;
    background: white;
    margin: auto;
}
.list-text-reponsiver{
    width: 100%;
    height: 150px;
    background: white;
    margin: auto;
    display: none;
}
.list-text-short-link-text{
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
a
{
    color:lightslategray;
}
.list-text-nailcare{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.list-text-information{
    font-family: Arial, Helvetica, sans-serif;
}
.list-text-short{
    width: 100%;
    height: 50px;
    background:white;
    margin: auto;
}
.list-text-short-link{
    width: 50%;
    height: 100%;
    background:white;
    float: left;
    line-height: 50px;
    border-bottom: 2px solid #F2f2f2;
}
.list-text-short-pick{
    width: 50%;
    height: 100%;
    background: white;
    float: right;
}
.list-text p {
    text-align: center;
}
.list-product{
    width: 1200px;
    height: 2800px;
    background: white;
    margin: auto;
}
.list-like{
    width: 1200px;
    height: 250px;
    background: white;
    margin: auto;
}
.list-like-text{
    width: 30%;
    height: 20%;
     background: white;
     line-height: 50px;
     margin: auto;
     border-bottom: 2px solid lightslategray;
}
.list-like-product{
     width: 100%;
    height: 100%;
    background: white;
    margin-top: 20px;
  
}
.list-nextPage{
    width: 1200px;
    height: 50px;
    background:white;
    margin: auto;
}
.list-product-box{
    width: 24%;
    height: 400px;
    background: white;
    float: left;
    margin-left: 1%;
}
.list-product-box-img{
    width: 80%;
    height: 60%;
    background: white;
    margin: auto;
}
.list-product-box-text{
    width: 100%;
    height: 25%;
    background: white;
}
.list-product-box-text-many{
    color: pink;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 30%;
    
}
.list-product-box-text-info{
    width: 100%;
    height: 70%;
    background:white;
    font-size: 12px;
    text-align: center;
}
.list-product-box-buy-button{
    text-align: center;
    font-size: 15px;
}
.list-product-box:hover{
    
    border: 2px solid #F2f2f2;
}
.list-product-box-img:hover{
background: black;
}
.list-product-col{
    width: 100%;
    height: 400px;
    margin-top: 70px;
    background: white;
}

.dropbtn {
    background-color: white;
    color: lightslategray;
    padding: 11px;
    font-size: 14px;
    border: 1px solid lightslategray;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}
.list-nextPage-next {
    border: none;
    outline: none;
    padding: 8px 14px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}
.list-like-product{
     width: 100%;
    height: 150px;
    background: white;
    margin-top: 20px; 
}
/* css cho mobie */
.main-mobie{
    width: 300px;
    height: 1270px;
    background: white;
    display: none;
    margin: auto;
}
.main-mobie-review{
    width: 100%;
    height: 50px;
    background: white;
    border: none;
    font-size: 7px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}
.main-mobie-short{
    width: 100%;
    height: 25px;
    background: white;
}
.main-mobie-home{
    width: 60%;
    height: 25px;
    float: left;
    font-size: 8px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.main-mobie-pick{
    width: 40%;
    height: 25px;
    float: left;
    font-size: 8px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-group{
    width: 50px;
    height: 20px;
     font-size: 8px;
    
}
button.btn.btn-default.dropdown-toggle{
     width: 50px;
    height: 20px;
    padding: 0px;
    line-height: 9px;
     background: white;
     border: 1px solid pink;
}
.dropdown-menu{
      font-size: 8px;
}
ul.dropdown-menu.show
{
    width: 100px;
    height: 80px;
    
}
.dropdown-menu li{
    width: 158px;
    height: 20px;
    border-bottom:1px solid pink;
    color: #F2f2f2;
}
.main-mobie-product{
    width:300px ;
    height:1100px ;
    background: white;
}
.main-mobie-product-1{
    width: 300px;
    height: 125px;
    background: white;
}
.main-mobie-product-2{
    width: 300px;
    height: 125px;
    background: white;
    margin-top: 10px;
}
.main-mobi-box{
    width: 30%;
    height: 80%;
    background: white;
    float: left;
    margin: auto;
}
.main-mobi-box1{
    width: 30%;
    height: 80%;
    background: white;
    margin-left: 5%;
    float: left;
}
.main-mobi-box-img{
    width: 100%;
    height: 60%;
    background: azure;
}
.main-mobi-box-img:hover{
    background: white;
}
.main-mobi-box-text{
    text-align: center;
    width: 100%;
    height: 17%;
    background: #F2f2f2;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.main-mobi-box-buy{
    width: 100%;
    height: 13%;
    line-height: 12px;
}

.main-mobie-nextpage{
    width: 100%;
    height: 17px;
    background: white;
    margin-top: 5px;
    line-height: 9px;
}
.mobie-list-nextPage-next{
    width: 3px;
    height: 17px;
    background: pink;
    border: none;
    margin-left: 1px;
    font-size: 6px;
}
.main-mobie-like-product{
    width: 100%;
    height: 15px;
    text-align: center;
    line-height: 15px;
    font-size: 7px;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}
.main-mobie-like-list{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background: white
}
.main-mobie-like-list-img1{
    width: 15%;
    height: 100%;
    background: violet;
    float: left;
}
.main-mobie-like-list-img{
    width: 15%;
    height: 100%;
    background: violet;
    float: left;
    margin-left: 6px;
}
/* Dành cho điện thoại */
@media all and  (max-width:375px) {
.list-product, .list-nextPage, .list-text,.list-text-short ,.list-like{
       display: none;
    }
    .main-mobie{
        display: block;
    }
   .list-nextPage-next{
       width: 2px;
       height: 15px;
   }
   .btn.btn-primary{
    width: 35px;
    height: 12px;
    font-size: 5px;
    line-height: 0px;
    text-align: center;
}
.list-product-box-text-many{
   
    font-size: 5px;
    width: 100%;
    height: 30%;
    background: white;
    
}
.list-product-box-text-info{
    font-size: 3px;
    text-align: center;
}
}


/* Dành cho máy tính bảng chiều ngang */
@media all and (max-width: 1024px){
 .list-like{ 
     width: 768px !important ; 
    }
    .list-product{
        width:768px !important;
    }
    .list-nextPage{
         width:768px !important;
    } 
    .list-text{
         width:768px !important;
    }     
    .dropbtn {
    padding: 5px;
}
}
 
/* Style the active class, and buttons on mouse-over */
.actives, .list-nextPage-next:hover {
    background-color: #666;
    color: white;
}

 .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 057 css*/
        .jssorb057 .i {position:absolute;cursor:pointer;}
        .jssorb057 .i .b {fill:none;stroke:#fff;stroke-width:2000;stroke-miterlimit:10;stroke-opacity:0.4;}
        .jssorb057 .i:hover .b {stroke-opacity:.7;}
        .jssorb057 .iav .b {stroke-opacity: 1;}
        .jssorb057 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 073 css*/
        .jssora073 {display:block;position:absolute;cursor:pointer;}
        .jssora073 .a {fill:#ddd;fill-opacity:.7;stroke:#000;stroke-width:160;stroke-miterlimit:10;stroke-opacity:.7;}
        .jssora073:hover {opacity:.8;}
        .jssora073.jssora073dn {opacity:.4;}
        .jssora073.jssora073ds {opacity:.3;pointer-events:none;}